<html>
<head>
	<title>My first Vue App</title>
	<script type="text/javascript" 
		src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
</head>
<body>
	<div id="app" class="container">

		<h1>
        {{message}} 
        <small>
          Click Count : {{counter}} 
          <button @click="counter++">+</button>
        </small>
      </h1>
      <input type="text" v-model="message" />
      <div>
      	<button @click="toggle()">Toggle</button>
      	<p v-if="!hide" v-for="item in items">
      		{{item}}
      	</p>
      	<p v-else>Nothing here</p>
      </div>
		</div>

		<!-- Our root Vue instance -->
		<script type="text/javascript">
			var app = new Vue({
				el: '#app',
				data: {
					message: 'Hello !',
          counter: 10,
          hide: true,
          items: ['one', 'two', 'three']
				},
				methods: {
					toggle: function () {
						this.hide = !this.hide
					}
				}
			})
		</script>
</body>	
</html>